{% extends 'base.html' %}

{% block content %}
    <h1>Target Budgets</h1>

    <h2>All Target Budgets</h2>
    <ul>
        {% for budget in target_budgets %}
            <li>
                <a href="{% url 'target-budget-detail' budget.pk %}">
                    Target Budget {{ budget.get_month_display }}, {{ budget.year }}
                </a>
            </li>
        {% empty %}
            <li>No target budgets available.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'target-budget-create' %}">
        <button>Add New Target Budget</button>
    </a>
{% endblock %}